<div class="container-field user">
  <div class="row">
    <div class="col-lg-2 user-nav user-nav-pc d-lg-block d-none">
      <ul>
        <li>
          <%= link_to 'アカウント', '/users/account' %>
        </li>
        <li class="active">
          <%= link_to 'プロフィール', '/users/profile' %>
        </li>
      </ul>
    </div>
    <div class="col-lg-2 user-nav user-nav-mobile d-lg-none">
      <ul>
        <li class="active">
          <%= link_to 'アカウント', '/users/account' %>
        </li>
        <li>
          <%= link_to 'プロフィール', '/users/profile' %>
        </li>
      </ul>
    </div>
    <div class="col-md-10 user-view">
      <div class="user-view-box">
        <div class="update-content">
          <div class="row">
            <h5>プロフィール</h5>
          </div>
        </div>
        <%= form_with url: 'user/edit', method: :post, local: true do |form| %>
        <div class="update-content">
          <div class="row">
            <div class="col-md-6 offset-md-3">
              <div class="icon-box">
                <img alt="アイコン画像" class="icon-image host-icon" src="/assets/default_icon.jpeg">
              </div>
            </div>
          </div>
        </div>
        <div class="update-content">
          <div class="row">
            <label class="col-md-3 required-a" for="image">アイコン画像</label>
            <div class="col-md-9">
              <%= form.file_field :image, class: 'mb-4 col-md-9', placeholder: 'アイコン画像をアップロード', value: @image %>
            </div> 
          </div>
        </div>
        <div class="update-content">
          <div class="row">
            <label class="col-md-3 required-a" for="name">名前</label>
            <div class="col-md-9">
              <%= form.text_field :name, class: 'form-control col-10 px-2', placeholder: '名前を入力', value: @name %>
            </div> 
          </div>
        </div>
        <div class="update-content">
          <div class="row">
            <label class="col-md-3 required-a" for="introduction">自己紹介</label>
            <div class="col-md-9">
              <%= form.text_area :introduction, rows: 5, class: 'form-control col-10 px-2', placeholder: '自己紹介文を入力', value: @introduction %>
            </div> 
          </div>
        </div>
        <div class="update-content">
          <div class="row">
            <%= link_to '更新', '/users/edit', class: 'col-md-2 btn btn-primary mx-3' %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>