<!DOCTYPE html>
<html>
  <head>
    <title>HotelApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header-inner">
        <div class="header-left-nav">
          <a href="/">
            <img src="/assets/logo.png">
          </a>
          <div class="header-search d-lg-inline-block d-none">
            <%= form_with url: '/', method: :get, local: true do |form| %>
              <%= form.text_field :area, class: 'form-control', placeholder: "\uf3c5 エリア" %>
            <% end %>
          </div>
          <div class="header-search d-lg-inline-block d-none">
            <%= form_with url: '/', method: :get, local: true do |form| %>
              <%= form.text_field :keyword, class: 'form-control', placeholder: "\uf002 キーワード" %>
            <% end %>
          </div>
        </div>
        <div class="header-right-nav">
          <div class="nav-item">
            <% if session[:user_id] %>
              <%= User.find(session[:user_id]).name %>
              <%= link_to 'ログアウト', {controller: 'users', action: 'logout'}, method: :post, class: 'btn btn-primary my-2 my-3' %>
            <% else %>
              <%= link_to 'ログイン', '/users/sign_in', class: 'btn btn-primary my-2 my-3' %>
              <%= link_to '登録する', '/users/sign_up', class: 'btn btn-secondary my-2 my-3' %>
            <% end %>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
      © 2020 POTEPAN.INC.
    </footer>
  </body>
</html>
