<!DOCTYPE html>
<html>
  <head>
    <title>HotelApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header-inner">
        <div class="header-left-nav">
          <a href="/">
            <img src="/assets/logo.png">
          </a>
          <div class="header-search d-lg-inline-block d-none">
            <%= form_with url: '/', method: :get, local: true do |form| %>
              <%= form.text_field :area, class: 'area-icon', placeholder: "\uf3c5 エリア" %>
            <% end %>
          </div>
          <div class="header-search d-lg-inline-block d-none">
            <%= form_with url: '/', method: :get, local: true do |form| %>
              <%= form.text_field :keyword, class: 'search-icon', placeholder: "\uf002 キーワード" %>
            <% end %>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
      © 2020 POTEPAN.INC.
    </footer>
  </body>
</html>
